{% extends "layout.html" %}
{% block header %}
<div class="d-flex justify-content-between align-items-center">
  <h1>File details</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin/">Admin</a></li>
    <li class="breadcrumb-item"><a href="{{ base_url }}">Files</a></li>
    <li class="breadcrumb-item active">Details</li>
  </ol>
</div>
{% endblock %}
{% block content %}
  <div class="card"><div class="card-header"><div class="card-title">{{ info["name"] or info["file_id"] }}</div><div class="card-actions"><a class="btn" href="{{ base_url }}/download/{{ info['file_id'] }}">Download</a></div></div><div class="card-body">
    <dl class="row mb-0">
    {% for key, value in info.items() %}
      <dt class="col-sm-3 text-secondary">{{ key }}</dt>
      <dd class="col-sm-9"><pre class="mb-2 text-wrap">{{ value | tojson if value is mapping or value is sequence and value is not string else value }}</pre></dd>
    {% endfor %}
    </dl>
  </div></div>
{% endblock %}
